.windowWrapper {
  width: 100px;
}

.window {
  position: relative;
}

.innerWindow {
  width: 83%;
  height: 86%;
  position: absolute;
  top: 6%;
  left: 9%;
  overflow: hidden;
  background-color: #99ccff;
  z-index: -1;
}

.innerWindow::after {
  content: '';
  display: block;
  width: 70%;
  height: 100%;
  background-image:linear-gradient(0deg, rgba(255, 255, 255, 0) 0px, rgba(255, 255, 255, 0.4) 100%);
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: 80% -45%;
  transform: rotate(20deg);
}

.radioBtns {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  padding-top: 6px;
}
.radioBtns label {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}
.radioBtns input { margin-right: 4px; }

.flipped {
  transform: scale(-1, 1);
}

@media (min-width: 1200px) {
  .radioBtns {
    font-size: 13px;
  }
}