@import '../../styles/vars.css';

.navWrapper,
.navWrapperTop {
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  font-size: 12px;
  line-height: 50px;
  transition: all 600ms ease-in-out;
}

@media (min-width: 768px) {
  .navWrapper,
  .navWrapperTop {
    font-size: 14px;
    line-height: normal;
  }
}

@media (min-width: 1200px) {
  .navWrapper,
  .navWrapperTop {
    font-size: 17px;
  }
}

.navWrapper {
  height: 50px;
  background-color: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.navWrapperTop {
  height: 60px;
  background-color: transparent;
  border: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  position: relative;
}

.navList {
  display: flex;
}

.navListItem {
  color: var(--text-color);
  padding: 15px;
  cursor: pointer;
  transition: color 0.3s;
}
.navListItem:hover {
  color: var(--dark-blue);
}

.logo {
  font-family: 'Montserrat', cursive;
  font-weight: 600;
  color: var(--dark-blue);
}
