.container {
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
    margin: 0 auto;
  }
}

/* .content-wrapper {
  background: linear-gradient(
    90deg,
    #050507 0%,
    #3d3035 90%,
    rgba(61, 48, 53, 0.9) 100%
  );
} */