@import '../../styles/vars.css';

.calcSection {
  position: relative;
}

.calcForm {
  margin-bottom: 20px;
}

.calcTitle {
  font-size: 22px;
  color: var(--text-color);
  text-align: center;
  margin-bottom: 16px;
}

.windowSizeBox {
  padding: 20px;
  font-size: 12px;
  font-weight: 800;
  background-color: var(--light-grey);
  border: 1px solid var(--border-color);
  color: var(--text-color);
  margin-bottom: 20px;
}

.windowSizeTitle {
  padding-bottom: 10px;
}

.windowSizeInputs {
  display: flex;
  justify-content: space-between;
}

.windowSizeBox label {
  display: flex;
  flex-direction: column;
  line-height: 40px;
  position: relative;
  max-width: 40%;
}

.inputsWrapper input {
  width: 100%;
  border: 1px solid var(--border-color);
  padding: 6px 10px;
  outline: none;
}

.inputsWrapper input:focus {
  box-shadow: 1px 1px 4px 1px rgba(140, 140, 140, 0.35);
}

.inputsWrapper::after {
  content: 'мм';
  font-size: 11px;
  font-weight: 400;
  font-family: cursive;
  color: #808080;
  position: absolute;
  right: 10px;
  bottom: -15px;
  transform: translateY(-50%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.inputHint {
  font-size: 8px;
  font-family: cursive;
  color: #808080;
  font-weight: 400;
  position: absolute;
  top: 18px;
  right: 4px;
}

@media (max-width: 768px) {
  .windowSizeInputs {
    justify-content: space-evenly;
  }
}

@media (min-width: 768px) {
  .calcForm {
    margin-bottom: 30px;
  }

  .calcTitle {
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 30px;
  }

  .windowSizeBox {
    max-width: 70%;
    margin: 0 auto 20px auto;
    font-size: 14px;
  }

  .inputsWrapper input {
    padding: 8px 12px;
  }

  .inputHint {
    font-size: 10px;
    top: 14px;
  }
}

@media (min-width: 1200px) {
  .calcForm {
    margin-bottom: 40px;
  }
  
  .windowSizeBox {
    max-width: 50%;
    margin: 0 auto 30px auto;
  }

  .windowSizeTitle {
    padding-bottom: 36px;
  }

  .windowSizeBox label {
    flex-direction: row;
  }

  .inputsWrapper input {
    margin-left: 10px;
  }

  .inputHint {
    top: -24px;
    right: -4px;
  }
}