.productsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.productsListItem {
  margin: 0 20px 20px 0;
}

@media (min-width: 768px) {
  .productsList {
    margin-bottom: 20px;
  }
}

@media (min-width: 1200px) {
  .productsListItem {
    margin: 0 40px 40px 0;
  }
}

.selected {
  box-shadow: 0px 0px 12px 8px rgba(140,140,140,0.8);
}