.productsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 20px;
}

.productsListItem:not(:last-child), .BalconyDoorsListItem, .DoorsListItem {
  margin: 0 20px 20px 0;
}

@media (min-width: 768px) {
  .productsList {
    margin-bottom: 40px;
  }

  .BalconyDoorsListItem {
    margin: 0 40px 0 40px;
  }
}

@media (min-width: 1200px) {
  .productsListItem {
    margin: 0 40px 40px 0;
  }

  .DoorsListItem {
    margin: 0 80px 0 0;
  }

  .BalconyDoorsListItem {
    margin: 0 100px 0 0;
  }
}