@import '../../styles/vars.css';

.requestForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.requestForm input {
  padding: 8px 0 8px 10px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  font-size: 14px;
  color: var(--text-color);
  margin-bottom: 16px;
}
.requestForm input:focus {
  outline: none;
}
.requestForm [name='name'] {
  margin-right: 20px;
}

@media (min-width: 768px) {
  .requestForm {
    flex-direction: row;
    align-items: baseline;
    padding-top: 20px;
  }
}

@media (min-width: 1200px) {
  .requestForm input {
    font-size: 18px;
  }

  .requestForm [name='name'] {
    margin-right: 60px;
  }
}