@import '../../styles/vars.css';

.contactContainer {
  width: 100%;
  background-color: var(--light-grey);
}

.contactWrapper {
  position: relative;
}

.contactTitle {
  text-align: center;
  color: var(--text-color);
  font-size: 22px;
  font-weight: 800;
  padding-top: 20px;
  margin-bottom: 20px;
}

.contactTitle::after {
  content: '';
  display: block;
  height: 3px;
  width: 40px;
  background-color: var(--dark-blue);
  margin: 20px auto;
}

.contactList {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  padding-bottom: 36px;
}

.contactListItem,
.phone {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: var(--text-color);
}
.email {
  display: flex;
  align-items: center;
}
.contactListItem:last-child {
  margin-bottom: 0;
}

.locationIcon,
.contactIcon {
  fill: var(--dark-blue);
  margin-right: 20px;
}

.locationIcon, .contactIcon {
  width: 30px;
  height: 30px;
}

.locationLink {
  text-decoration: none;
  transition: color 0.3s;
  cursor: pointer;
  color: var(--text-color);
}

.locationLink:hover {
  color: var(--dark-blue);
}

.telegram,
.viber {
  display: flex;
  line-height: 30px;
}

.telegram::before,
.viber::before {
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  background-size: cover;
  margin: 0 20px 0 0;
}
.telegram::before {
  background-image: url(../../images/telegram.svg);
}
.viber::before {
  background-image: url(../../images/viber.svg);
}

@media (max-height: 414px) {
  .contactWrapper {
    height: 100%;
  }
}

@media (min-width: 768px) {
  .contactTitle {
    font-size: 30px;
    margin-bottom: 50px;
  }

  .contactList {
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    padding-bottom: 50px;
  }

  .contactListItem {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0;
  }

  .locationIcon {
    width: 40px;
    height: 40px;
    margin: 0 0 20px 0;
  }

  .contactIcon {
    width: 20px;
    height: 20px;
  }

  .telegram,
  .viber {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: normal;
  }

  .telegram::before,
  .viber::before {
    width: 40px;
    height: 40px;
    margin: 0 0 20px 0;
  }

  .locationText {
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  .contactList {
    font-size: 16px;
    justify-content: space-around;
  }
}

@media (min-width: 1900px) {
  .contactTitle {
    padding-top: 60px;
  }

  .contactList {
    padding-bottom: 100px;
  }
}
